@model APPZ_new.Models.Question

@{
    ViewData["Title"] = "CreateQuestion";
}
<p>
    <a asp-action="OpenTask" asp-route-id="@ViewBag.DependencyId" class="btn btn-primary mx-1">Back</a>
</p>
<h1>Create Question</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateQuestion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuestionTest" class="control-label">Enter a question</label>
                <input asp-for="QuestionTest" class="form-control" />
                <span asp-validation-for="QuestionTest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="TaskId" type="hidden"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


