@model APPZ_new.Models.Answer


<p>
    <a asp-action="OpenQuestion" asp-route-id="@ViewBag.QuestionId"  class="btn btn-primary mx-1">Back to Question</a>
</p>
@{
    ViewData["Title"] = "CreateAnswer";
}

<h1>Answers for @ViewBag.QuestionName</h1>

<h4>Enter Answer Text</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAnswer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="AnswerText" class="form-control" />
                <span asp-validation-for="AnswerText" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label" hidden="@ViewBag.CorrectNotPossible">
                    <input class="form-check-input" asp-for="IsCorrect" /> / Is this answer is correct?
                </label>
                <label class="form-check-label" hidden ="@ViewBag.DeleteInfo">
                Correct answer already exist. Delete it if you want to change correct answer.    
                </label>
            </div>
            <div class="form-group">
                <input asp-for ="QuestionId" type="hidden">
                
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

