@model APPZ_new.DTOs.DoTaskModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserTask</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CompleteTask">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="TaskId" />
            <h2>@Html.DisplayFor(item => item.TaskTitle)</h2>

            @foreach (var item in Model.Questions)
            {
                <div class="form-group select">
                    @Html.DisplayFor(model => item.QuestionTest)
                    <select asp-for="@item.AnswerId" class="form-control" asp-items="@(new SelectList(item.Answers, "Id", "AnswerText"))"></select>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
